* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3em;
}

body {
    background-color: #f9f9f9;
    color: #555;
    line-height: 1.6;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7d2ae8; 
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #fff; 
    cursor: default;
}

.logo span {
    color: #f9f9f9; 
}

.navigation {
    margin-left: 50px;
}

.navigation a {
    font-size: 1.1em;
    color: #fff; 
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #f0c419; 
}

.section {
    padding: 80px;
    text-align: center;
    background-color: #fff;
    margin-top: 80px;
}

.section h2 {
    font-size: 2.8em; 
    color: #7d2ae8;
    margin-bottom: 30px;
}

.skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skills li {
    background-color: #7d2ae8;
    color: #fff;
    padding: 12px 24px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.skills li:hover {
    background-color: #340a6b; 
    color: #fff; 
    transform: translateY(-10px);
}

.projects-heading {
    text-align: center;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 100%; 
    max-width: 900px; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 20px 0; 
    text-align: left;
}

.project:hover {
    transform: translateY(-10px);
}

.project-header {
    display: flex;
    align-items: center;
}

.project-text {
    text-align: justify;
}

.project h3 {
    font-size: 24px;
    color: #7d2ae8;
    margin-bottom: 10px;
}

.project p {
    font-size: 19px;
}

.certificates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.certificate {
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.certificate img {
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer; 
}

.certificate:hover {
    transform: translateY(-10px);
}

.certificate-description {
    padding: 20px;
    text-align: center;
}

.certificate-description p {
    font-size: 19px;
    font-weight: bold;
    color: #555;
}

.social-icons {
    margin-top: 35px;
    margin-left: 20px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #46118a;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    line-height: 45px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons a i {
    color: #fff;
    font-size: 1.5em;
}

.profile {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 80px;
    padding: 0 100px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 40px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me {
    flex: 1; 
    text-align: left; 
}

.about-me a{
    font-size: 1.2em; 
    color: #fff; 
    text-decoration: none; 
    background-color: #7d2ae8; 
    padding: 10px 20px; 
    border-radius: 40px; 
    display: inline-block; 
    margin-top: 20px; 
    transition: background-color 0.3s;
}

.about-me a:hover {
    background-color: #340a6b; 
    color: #fff; 
}
